/* DEV MENU */
#dev-menu {
	position: fixed;
	right: 0;
	bottom: 15px;
	left: 0;

	text-align: center;
}

#dev-menu button {
	padding: 15px;
}


/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* UTILITY */

.hidden {
	display: none;
}


/* FONT */

@font-face {
	font-family: 'SF Pixelate';
	src: url('../fonts/sf_pixelate-webfont.woff2') format('woff2'),
	     url('../fonts/sf_pixelate-webfont.woff')  format('woff');
	font-weight: normal;
	font-style: normal;
}


/* BEHAVIOUR */

body.home aside {
	flex-basis: 100%;
	justify-content: center;
}

body.home section {
	position: fixed;
	z-index: -999;
	visibility: hidden;
	opacity: 0;
}

body.random {

}

body.all {

}


/* UI */
#clement { cursor: pointer; }


/* STYLE */

html, body, main {
	height: 100%;
}

main {
	display: flex;
	align-items: stretch;
}

aside, section {
	flex: 1;

	display: flex;
}

aside {
	flex-basis: 33%;
	align-items: center;
	justify-content: flex-end;

	transition: flex-basis 0.25s ease-out;
}

#clement {
	display: block;
	max-height: 77vh;
}

section {
	flex-basis: 66%;
	flex-flow: column nowrap;

	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.4s ease-out;
}

#clement {
	animation: float 6.6s infinite;
}

@keyframes float {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); }
	100% { transform: scale(1); }
}

#clement:hover {
	animation: shake 0.5s infinite;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
