/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* UTILITY */

.hidden {
	display: none;
}


/* FONT */

@font-face {
	font-family: 'Pixel';
	src: url('../fonts/sf_pixelate-webfont.woff2') format('woff2'),
	url('../fonts/sf_pixelate-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* STYLE */

html, body, main {
	height: 100%;
}

main {
	display: flex;
	align-items: stretch;
}

aside, section {
	align-items: center;
	justify-content: center;
}
